body
{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#hrr
{
    width: 80%;
    margin-left: 9%;
    margin-top: -10px;
    color: #111;
}
#frm
{
    width: 30%;
    height: 50%;
    margin: auto;
    padding-left: 10px;
    box-shadow: 5px 5px 18px black;
    background-color: rgba(0,0,0,.5);
}
h1
{
    text-align: center;
    font-family: impact;
    letter-spacing: 1px;
    color: white;
    font-size: 37px;
}
h3
{
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    margin-left: 8%;
    color: white;
}
input[type=password],input[type=email]
{
    margin-left: 8%;
    height: 40px;
    width: 77%;
    padding-left: 10px;
    margin-top: -10px;
}
#resendotp
{
    font-size: 15px;
    margin-left: 38%;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    color: yellow;
}
#resendotp:hover
{
    color: red;
}
#pa
{
    margin-left: 23%; 
    margin-top:	40px;
    font-size: 25px;
    width: 50%;
    height: 40px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}
input[type=submit]
{
    width: 80%;
    height: 40px;
    margin-left: 8%;
    margin-top:5px;
    font-size: 18px;
    color: white;
    background-color: #B100CC;
    border: 2px solid #B100CC;
    font-weight: 700;
}
input[type=submit]:hover
{
    border: 2px solid black;
}
input[type=button]
{
    width: 80%;
    height: 40px;
    margin-left: 8%;
    margin-top:5px;
    font-size: 18px;
    background-color: white; 
    border: 2px solid white;
    color: #B100CC;
    font-weight: 700;
}
input[type=button]:hover
{
    border: 3px solid black;
}

