*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body
{
	font-family: 'poppins', sans-serif;
	font-size: 30px;
}
header
{
	display: flex;
	width: 100%;
	height: 12vh;
	background-color: rgba(0,0,0,.1);
	margin: auto;
	align-items: center;
	border-bottom: 1px solid black;
}
#nav-bar,#nav-title
{
	display: flex;
}
#nav-title
{
	flex: 1;
	font-family: 'Kaushan Script', cursive;
	font-size: 45px;
	border-left: 1px solid black;	
	border-right: 1px solid black;
	justify-content: space-around;
	color: #FB405C;
}
nav
{
	flex: 2;	
}
#nav-bar
{
	justify-content: space-around;
}
.nav-links
{
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .5px;
}
.nav-links a
{
	list-style: none;
	text-decoration: none;
	color: black;
	font-weight: 800;
}
.nav-links a:hover
{
	cursor: pointer;
	color: #FF88F4;
}
#main1
{
	display: flex;
	width: 100%;
	height: 90vh;
	border-bottom: 1px solid black;
	background-image: url(../images/newyork.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
#body-content
{
	text-align: center;
	width: 60%;
	height: 30%;
	margin-top: 4vh;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 110%;
	font-weight: 700;
	padding-top: 35px;
	color: yellow;
	background-color: rgba(0,0,0,.5);
	border-radius: 30px;
	box-shadow:	5px 5px 18px white;
	position: absolute;
	left: 20%;
	right: 20%
}
#website-name
{
	font-family: 'Kaushan Script', cursive;
	color: #FB405C;
}
#login,#signup
{
	margin: 25vh auto;
	border: 3px solid #C100DF;
	background-color: #C100DF;
	color: white;
	width: 40vh;
	height: 9vh;
	font-size: 30px;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 700;
	margin-left: 10px;
}
#signup
{
	margin-left: 10px;
	background-color: white;
	border: 3px solid white;
	color: #C100DF;
}
#login:hover,input[type=submit]:hover
{
	border: 3px solid white;
}
#signup:hover,input[type=button]:hover
{
	border: 3px solid #C100DF;
}
#form-login
{
	margin: 5vh auto; 
	width: 25%;
	height: 80vh;
	box-shadow:	5px 5px 18px black;
	align-items: center;
	padding-top: 5vh;
	background-color: rgba(0,0,0,.8);
	color: white;
	border: 1px solid white;
	left: 50%;
	position: absolute;
	left: 32.5%;
	right: 32.5%;
	visibility: hidden;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 600;
}
table
{
	width: 40vh;
	height: 70vh;
	margin: 0 auto;
}
th
{
	font-size: 37px;
	text-align: center;
	font-family: impact;
	letter-spacing: 1px;
}
td
{
	font-size: 20px;
}
input[type=text],input[type=tel],input[type=password]
{
	width: 40vh;
	height: 5vh;
	padding-left: 5px;
	font-size: 15px;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 1px;
}
input[type=submit],input[type=button]
{
	border: 2px solid #FF88F4;
	width: 40vh;
	height: 5vh;
	font-size: 18px;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 700;
	font-size: 20px;
	background-color: #D800C4;
	border: 3px solid white;
	color: white;
	border: 3px solid #C100DF;
	background-color: #C100DF;
}
input[type=button]
{
	background-color: white;
	color: #D800C4;
	border: 3px solid white;
	background-color: white;
}
#fp
{
	text-decoration: none;
	font-size: 15px;
	margin-left: 20vh;
	color: white;
}
#fp:hover
{
	color: red;
}

#main2
{
height:65vh;
width: 100%;
display: flex;
align-items: center;
}
.slider-images
{
	width: 50%;
	padding-left: 6%;
	padding-right: 5%;
}
.slider-image{
	width:100%;
	box-shadow: 10px 10px 15px black;
}
.w3-section img{
	width: 100%;
	height: 350px;
}
#how-to-book
{
	width: 40%;
	margin: auto;
	padding: 50px;
	background-color: rgba(0,0,0,.1);
}
#how-to-book h1
{
	text-align: center;
	font-family: verdana;
	font-size: 30px;
	letter-spacing: .5;
	font-weight: 300;
}
#how-to-book-guide
{
	margin-top: 25px;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 550;
}

#main3
{
	height: 65vh;
	align-items: center;
	display: flex;
}
.slider-images1
{
	width: 50%;
	padding-left: 6%;
	padding-right: 5%;
}
.slider-image1{
	width:100%;
	box-shadow: 10px 10px 15px black;
}
.w3-section1 img{
	width: 100%;
	height: 350px;
}
#website-features
{
	width: 40%;
	margin: auto;
	padding: 50px;
	background-color: rgba(0,0,0,.1);
}
#website-features h1
{
	text-align: center;
	font-family: verdana;
	font-size: 30px;
	letter-spacing: .5;
	font-weight: 300;
}
#features
{
	margin-top: 25px;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 550;
}

#main4
{
	height: 50vh;
	align-items: center;
	background-color: white;
	display: flex;
}
#about-us
{
	width: 80%;
	margin: auto;
	padding: 50px;
	background-color: rgba(0,0,0,.1);
}
#about-us h1
{
	text-align: center;
	font-family: verdana;
	font-size: 30px;
	letter-spacing: .5;
	font-weight: 300;
}
.about-us-msg
{
	margin-top: 25px;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 550;
}



footer
{
	height: 28vh;
}
#footer-top
{
	height: 18vh;
	display: flex;
	background-color: rgba(0,0,0,.2);
	align-items: center;
	font-family: 'Roboto Condensed', sans-serif;
}
#footer-top-content
{
	flex: 1.5;
	padding-left: 50px;
}
#footer-top-images
{
	flex: 1;
	border-left: 1px solid black;
	padding-left: 5%;
}
#footer-top-images span
{
	font-size: 20px;
	font-weight: 700;
}
.footer-image
{
	width: 20px;
	height: 20px;
	transition: .2s;
	margin: 0 8px;
}
.footer-image:hover
{
	cursor: pointer;
	transform: scale(1.2);
}
#footer-base
{
	height: 10vh;
	background-color: rgba(0,0,0,.6);
	color:white;	
	text-align: center;
	vertical-align: text-bottom;
	padding: 3vh 0 0 0;
}